#login-textbox {
  width: 200px;
  height: 20px;
  color: black;
  text-align: center;
  font-size: medium;
  position: absolute;
  padding-left: 550px;
}



//Login page

#data-display {
  width: 400px;
  height: 20px;
  color: black;
  text-align: center;
  font-size: medium;
  position: absolute;
  padding-left: 550px;
}

.rowC{display:flex; flex-direction:row;}

#table-label {
  width: 400px;
  height: 20px;
  color: black;
  text-align: center;
  font-size: medium;
}
#login-head {
  width: 230px;
  height: 20px;
  color: black;
  text-align: center;
}
#login-button {
  width: 100px;
  height: 30px;
  color: black;
  text-align: center;
  position: absolute;
  margin-left: 100px;
}

#login-form {
  padding-top: 0px;
  height: 280px;
  background-size: 300px;
  background-color: #b4c6f0;
  align-items: center;
  text-align: center;
}
#Reference {
  height: 230px;
  background-color: #b4c6f0;
  background-image: url("/bg.png");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top: 2px;
}
